.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.location-report {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #15425D;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    align-items: center;
    padding-left: 20%;
    width: 100%;
}

.navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-image {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.navbar-text h4 {
    margin-bottom: 0;
    line-height: 1.4;
    color: white;
}

.navbar-text h6 {
    margin-top: 0;
    line-height: 1.4;
    text-align: left;
    color: white;
}

.dashboard-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 80%;
    height: 50vh;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-title {
    margin-bottom: 20px;
}

.dropdown-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.dropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.scrollable-list {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.scrollable-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scrollable-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.scrollable-list li:last-child {
    border-bottom: none;
}

.squares-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
}

.square {
    flex: 1;
    background-color: #ccc;
    border: 2px solid black;
}

.button-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.button-container button:hover {
    background-color: #0056b3;
}

.report-contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 60px);
    padding: 20px;
    overflow: hidden;
    margin-top: 60px;
}

.scrollable-box {
    margin-top: 150px;
    width: 80%;
    max-height: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
